extends ../layout

block content
    h1.
         #{title}
    ul
        - each pegawai_item, i in pegawai
            li
                = pegawai_item.nama

                form(action='/pegawai/#{pegawai_item._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/pegawai/#{pegawai_item._id}/edit') Edit
                p
                    a(href='/pegawai/#{pegawai_item._id}') Show
                p
                    a(href='/pegawai/#{pegawai_item._id}/addgaji') Add Gaji

    p
        a(href='/pegawai/new') Tambah Pegawai Baru
