extends ../layout

block content
    h1.
        ID: #{pegawaidata._id}
    p Nama: #{pegawaidata.nama}
    p NIP: #{pegawaidata.nip}
    p Tanggal Lahir: #{pegawaitanggallahir}
    p Aktifkah: #{pegawaidata.aktifkah}
