extends ../layout

block content
    h1.
        Pegawai ID: #{pegawaidata._id}
    p Nama: #{pegawaidata.nama}
    p NIP: #{pegawaidata.nip}
    p Tanggal Lahir: #{pegawaitanggallahir}
    p Aktifkah: #{pegawaidata.aktifkah}
    p Total Gaji Terakhir: #{pegawaidata.gaji_total.jumlah}
    - var tanggal_hitung = pegawaidata.gaji_total.tanggal_hitung.toISOString();
    - tanggal_hitung = tanggal_hitung.substring(0, tanggal_hitung.indexOf('T'))
    p Tanggal Update Gaji: #{tanggal_hitung}
    p Daftar Gaji:
        - if (typeof(pegawaidata.gajis) !== 'undefined' && pegawaidata.gajis.length){
            ul
                - each gaji_item, i in pegawaidata.gajis
                    li
                        - var tanggal = gaji_item.tanggal.toISOString();
                        - tanggal = tanggal.substring(0, tanggal.indexOf('T'))
                        p Tanggal: #{tanggal}
                        p Gaji Harian: Rp.#{gaji_item.gaji_harian}

        -} else {
            p Belum pernah mendapat gaji
        -}
